# Archivo para ignorar archivos y carpetas en Git.
# Esto evita que se suban al repositorio archivos sensibles o innecesarios.

# Dependencias de Node.js (se generan con 'npm install')
/backend/node_modules

# Archivo de variables de entorno (contiene secretos)
/backend/.env